:root {
  --light: #f3f3f4;
  --medium: #e0793d;
  --dark-blue: #2d3047;
  --medium-blue: #0d3b66;
}

body {
  background-color: var(--light);
  color: var(--medium);
  text-align: center;
}

.home {
  font-size: 40px;
  background-color: var(--medium);
  color: var(--medium-blue);
  border: 2px solid var(--dark-blue);
  float: inline-end;
  height: 5rem;
  border-radius: 20px;
  line-height: 5rem;
  padding: 0 2rem;
}

.home:hover {
  color: var(--medium);
  background-color: var(--medium-blue);
}

.navbar {
  border: 2px solid var(--dark-blue);
  float: inline-end;
  padding: 5%;
  border-radius: 20px;
}

.navbar:hover {
  background-color: var(--medium);
  color: var(--darkblue);
}

li {
  display: inline;
}

img {
  width: 250px;
  height: 250px;
}

button {
  border: 2px solid black;
  border-radius: 2px;
}

#showPageImg {
  width: 30%;
  height: auto;
}

.showPage {
  background-color: var(--light);
}

img.pet-index-pictures {
  height: auto;
  width: 100%;
}

form.put-pet-up-for-adoption {
  border-radius: 10px;
  padding: 25px;
  background-color: var(--medium-blue);
  width: 50%;
  margin: 4rem auto 1rem auto;
  color: white;
}

.adoption-form-section label {
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}
.adoption-form-section h2 {
  font-weight: bolder;
  color: var(--medium);
}

input[type=submit].submit-btn {
  font-size: 1.5em;
  background-color: var(--medium);
  font-weight: bold;
}

input[type=submit].submit-btn:hover {
  background-color: var(--light);
  color: var(--medium);
  font-size: 1.5em;
  font-weight: bolder;
} 

input[type=submit].individual-pet-btn {
  font-size: 1.5em;
  background-color: var(--medium-blue);
}

input[type=submit].individual-pet-btn:hover {
  background-color: var(--medium);
  font-weight: bold;
}

.individual-pet {
  border-radius: 10px;
  box-shadow: 1px 1px 25px var(--medium);
  width: 30rem;
  height: auto;
  margin: 6rem auto 3rem auto;
}

.individual-pet img {
  margin-top: 1rem;
  border-radius: 10px;
}

div.individual-pet-information {
  margin: 1rem 2rem 2rem 2rem;
  text-align: left;
  color: var(--medium-blue);
}

#individual-pet-name {
  font-size: 2em;
}

.individual-pet-attribute-name {
  font-size: 1.2em;
}

.display-pets {
  background-color: white;
  border: 2px solid #0d3b66;
  border-radius: 10px;
}

.home-pets {
  border: 2px solid var(--medium);
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
}

.small-3:hover {
  background-color: #e0793d;
  color: #2d3047;
}

.home-pets:hover {
  background-color: #e0793d;
  color: #2d3047;
  border-color: #2d3047;
}  

.form-display li {
  list-style-type: none;
  border: none;
}

.form-display li:hover {
  color: var(--medium-blue);
}